# TimeZone
TZ=Asia/Tokyo

# VoiceText API key
# Refer to https://cloud.voicetext.jp/webapi
VOICETEXT_API_KEY=XXXXXXXXXXXXXXXX

# Host IP address
WIRELESS_IP=192.168.0.10

# Google Home / Nest IP address
GOOGLE_HOME_IP=192.168.0.2

# Your Firebase database URL
FIREBASE_DATABASE_URL=https://XXXXXXXXXX.firebaseio.com

# Your Firebase service account key's path
# Don't change it.
FIREBASE_SECRET_KEY_PATH=/google-home-voicetext/firebase.json

# Speaker type
VOICETEXT_SPEAKER=SHOW
